// Fonts
@import url('https://fonts.googleapis.com/css?family=Nunito');

// Variables
@import 'variables';

// Bootstrap
@import '~bootstrap/scss/bootstrap';

body {
  padding-top: 5rem;

  #app {
    padding: .5rem;

    .card-columns {
      @include media-breakpoint-only(sm) {
        column-count: 1;
      }
      @include media-breakpoint-only(md) {
        column-count: 2;
      }
      @include media-breakpoint-only(lg) {
        column-count: 3;
      }

      .card-title {
        text-overflow: ellipsis;
        white-space: nowrap;
        overflow: hidden;
      }

      .stars {
        margin-left: 10px;
      }
    }

    .vdp-datepicker input[type='text'] {
      border: 0;
      color: #495057;
      width: 100%;
    }
    .vdp-datepicker input[type='text']:focus {
      outline: none;
    }

  }
}
