// Fonts
@import url('https://fonts.googleapis.com/css?family=Lato:300,400,700|Raleway:300,400,500,600,700');

// Variables
@import 'variables';

// Custom
@import 'chinook';

// Bootstrap
@import '~bootstrap/scss/bootstrap';

body {
  padding-top: 5rem;
  padding-bottom: 2rem;

  #app {
    padding: .5rem;

    a.navbar-brand {
      text-transform: uppercase;
      letter-spacing: +2px;
      color: $chinook-yellow;
      font-size: 1.4rem;
      &:before {
        content: '';
        display: inline-block;
        background: url('/../images/chinook-logo.png') no-repeat top left;
        background-size: 100% auto;
        margin: 0 8px -8px 0;
        height: 28px;
        width: 20px;
      }
    }

    form#search input[type="text"] {
      background: $chinook-slate;
      border-color: $chinook-slate;
      color: $chinook-marble;
    }

    .card-columns {
      @include media-breakpoint-only(sm) {
        column-count: 1;
      }
      @include media-breakpoint-only(md) {
        column-count: 2;
      }
      @include media-breakpoint-only(lg) {
        column-count: 3;
      }
      .card-title {
        text-overflow: ellipsis;
        white-space: nowrap;
        overflow: hidden;
        a {
          color: $chinook-slate;
        }
      }
      .stars {
        margin-left: 10px;
        color: $chinook-yellow;
      }
      .close {
        text-shadow: none;
      }
    }

    .vdp-datepicker input[type='text'] {
      border: 0;
      color: $chinook-charcoal;
      width: 100%;
      background-color: transparent;
    }
    .vdp-datepicker input[type='text']:focus {
      outline: none;
    }

  }
}
